.navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar .container {
    /* box-shadow: #00021d 0 0 20px 11px; */
    background: linear-gradient(to right, #081645, #852b99);
}

.navbar .container .open-menu {
    display: none;
    cursor: pointer;
}

.navbar .container .main-menu img {
    display: none;
}

@media (max-width: 1200px) {
    .navbar .container {
        justify-content: space-between;
    }

    .navbar .container ul {
        position: absolute;
        top: 0;
        left: -100%;
        padding-top: 150px;
        padding-left: 90px;
        padding-right: 90px;
        height: 100vh;
        gap: 50px;
        flex-direction: column;
        background-color: white;
        transition: 0.3s;
    }

    .navbar .container ul.open {
        left: 0;
    }

    .navbar .container .open-menu {
        display: block;
    }

    .navbar .container .main-menu > img {
        display: block;
        position: absolute;
        left: 50px;
        top: 50px;
        cursor: pointer;
    }

    .navbar .container .main-menu li a {
        color: black !important;
    }

    .navbar .become-button {
        position: fixed;
        bottom: 50px;
        left: -100%;
        transition: 0.3s;
    }

    .navbar .become-button.show {
        left: 90px;
    }

    .navbar .become-button a {
        background-color: #00021d !important;
        color: white !important;
    }
}
