.products .product {
    width: calc(33.33% - 20px);
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 30px;
}

.products .product img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.pipeline .product {
    max-width: 450px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 30px 0;
}

.pipeline .product img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
